server:
  port: 8761

spring:
  application:
    name: service-discovery

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: service-discovery

logging:
  file:
    name: ${LOG_FILE_PATH:../logger/logs/backend-services.log}

  pattern:
    level: "service=${spring.application.name} %5p"
